body {
    background-color: #CFF5E7;
    margin: 0;
    
  }
  hr{
    color: #59C1BD;
    height: 2px;
    border-style: dotted;
    width: 5%;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-width: 5px;
  }
  h1,h3 {
    
    margin-top: 0;
  }
  .Name{
    font-family: "Sofia", sans-serif;
  }
  .Landingpage{
    height : 100vh;
    width: 100vw;
    object-fit: cover;
    background-image: url("/Media/2.png");
    background-size: cover;
    text-align: center;
    position: relative;
    background-origin: padding-box;
    background-repeat: no-repeat;
    color: white;
    font-size: 48px;
  }
  p.Name{
    margin: 0;
  }
  